<footer class="footer">
  <div class="container">
    Maxcorp, 2019
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="<%= assetFingerprint('/js/scripts.js') %>"></script>
</body>

</html>